backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: "Create {{collection}} “{{slug}}”"
    update: "Update {{collection}} “{{slug}}”"
    delete: "Delete {{collection}} “{{slug}}”"
    uploadMedia: "[skip ci] Upload “{{path}}”"
    deleteMedia: "[skip ci] Delete “{{path}}”"

media_folder: static/media
public_folder: /media

collections:
  - name: "widgets"
    label: "Widgets"
    files:
      - file: "src/app/widgets/next-meeting/index.md"
        label: "Next Meeting"
        name: "next-meeting-widget"
        fields:
          - { label: "Date", name: "date", widget: "datetime" }
          - { label: "Location", name: "string", widget: "string" }
          - { label: "Agenda", name: "agenda", widget: "file" }
          - { label: "Image", name: "image", widget: "image" }
      - file: "src/app/widgets/historical-meetings/index.md"
        label: "Historical Meetings"
        name: "historical-meetings-widget"
        fields:
          - {
              label: "Meetings",
              name: "meetings",
              widget: "list",
              label_singular: "Meeting Agenda",
              summary: "Meeting {{date | date('YYYY-MM-DD')}}",
              fields: [{ label: "PDF File", name: "file", widget: "file" }, { label: "Date", name: "date", widget: "datetime" }],
            }
  - name: "pages"
    label: "Pages"
    files:
      - file: "src/app/pages/index/index.md"
        label: "Home Page"
        name: "index"
        fields:
          - { label: "Template Key", name: templateKey, widget: "hidden", default: "index" }
          - { label: "Type", name: type, widget: "hidden", default: "page" }
          - { label: "Main Image", name: image, widget: image }
          - {
              label: "Welcome Widget",
              name: welcomeWidget,
              widget: object,
              fields:
                [
                  { label: Heading, name: heading, widget: string },
                  { label: Body, name: body, widget: markdown },
                  { label: Signature, name: signature, widget: string },
                  { label: Link, name: link, widget: object, fields: [{ label: Text, name: text, widget: string }, { label: Path, name: path, widget: string }] },
                ],
            }
          - {
              label: "Link Cards",
              name: linksWidget,
              widget: list,
              label_singular: "Card",
              min: 2,
              max: 4,
              fields:
                [
                  { label: Heading, name: heading, widget: string },
                  { label: Blurb, name: blurb, widget: text },
                  { label: Image, name: image, widget: image },
                  { label: Path, name: path, widget: string },
                ],
            }
      - file: "src/app/pages/next-meeting/index.md"
        label: "Next Meeting"
        name: "next-meeting"
        fields:
          - { label: "Template Key", name: templateKey, widget: "hidden", default: "next-meeting" }
          - { label: "Type", name: type, widget: "hidden", default: "page" }
          - { label: "Main Image", name: image, widget: image }
      - file: "src/app/pages/historical-meetings/index.md"
        label: "Historical Meetings"
        name: "historical-meetings"
        fields:
          - { label: "Template Key", name: templateKey, widget: "hidden", default: "historical-meetings" }
          - { label: "Type", name: type, widget: "hidden", default: "page" }
          - { label: "Main Image", name: image, widget: image }
      - file: "src/app/pages/gallery/index.md"
        label: "Gallery"
        name: "gallery"
        fields:
          - { label: "Template Key", name: templateKey, widget: "hidden", default: "gallery" }
          - { label: "Type", name: type, widget: "hidden", default: "page" }
          - { label: "Main Image", name: image, widget: image }
          - {
              label: "Photos",
              name: "photos",
              widget: "list",
              label_singular: "Photo",
              summary: "{{title}}",
              fields:
                [
                  { label: "Photo", name: "photo", widget: "file" },
                  { label: "Caption", name: "caption", widget: "string" },
                  { label: "Date (optional)", name: "date", widget: "datetime" },
                  { label: "Photographer Credit (optional)", name: "credit", widget: "string" },
                ],
            }
      - file: "src/app/pages/links/index.md"
        label: "Links"
        name: "links"
        fields:
          - { label: "Template Key", name: templateKey, widget: "hidden", default: "links" }
          - { label: "Type", name: type, widget: "hidden", default: "page" }
          - { label: "Main Image", name: image, widget: image }
      - file: "src/app/pages/events/index.md"
        label: "Events"
        name: "events"
        fields:
          - { label: "Template Key", name: templateKey, widget: "hidden", default: "events" }
          - { label: "Type", name: type, widget: "hidden", default: "page" }
          - { label: "Main Image", name: image, widget: image }
      - file: "src/app/pages/news/index.md"
        label: "News"
        name: "news"
        fields:
          - { label: "Template Key", name: templateKey, widget: "hidden", default: "news" }
          - { label: "Type", name: type, widget: "hidden", default: "page" }
          - { label: "Main Image", name: image, widget: image }
      - file: "src/app/pages/about-us/index.md"
        label: "About Us"
        name: "about-us"
        fields:
          - { label: "Template Key", name: templateKey, widget: "hidden", default: "about-us" }
          - { label: "Type", name: type, widget: "hidden", default: "page" }
          - { label: "Main Image", name: image, widget: image }
      - file: "src/app/pages/contact-us/index.md"
        label: "Contact Us"
        name: "contact-us"
        fields:
          - { label: "Template Key", name: templateKey, widget: "hidden", default: "contact-us" }
          - { label: "Type", name: type, widget: "hidden", default: "page" }
          - { label: "Main Image", name: image, widget: image }
